.git
.gitignore
.env
.env.backup
.env.production
.idea
.vscode
.fleet
.nova
.zed

node_modules
vendor

public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
.phpunit.cache
phpunit.xml

*.md
*.log
Thumbs.db
.DS_Store
docker-compose.yml
